{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


{% if app.user %}
<section class="homeFirstSection">
<div class="container-fluid">
<h1 class="text-center">Bienvenue {{app.user.username}} ! </h1>
</div>
</section>
{% endif %}

{% endblock %}
