
  

$primary-color: rgb(137, 148, 153);  // gray Pewter

$secondary-color: rgb(211, 211, 211);  // Light Gray

$tersiary-color: rgb(96, 130, 182); //Glaucous  (gris bleuté)

$basic-gray: rgb(128, 128, 128); // gris metallise

$platinium: rgb(229, 228, 226); // gris tres clair

$late-gray: rgb(112, 128, 144); //gris turquoise